pyclamd
python-multipart
uvicorn[standard]
celery[redis]
pdfminer.six
flower
pyclamd
httpx
pytest
fastapi
multipart
librosa
dotenv
pdfplumber
coqpit
trainer>=0.0.36
pysbd
pandas
redis
ebooklib
beautifulsoup4
espeakng
py-espeak-ng